/*
vamos a crear una animacion a partir de frames
y los haremos girar alternar y transformar
*/
:root{
    --text-color: rgb(56, 58, 56);
    --hr-color: #c8c8ff ;
    --red: rgb(232, 149, 255);
}

@keyframes animacion_test{
    from{
        background-color: rgb(56, 44, 61);
    }
    to{
        background-color: rgb(39, 39, 41);
    }
}

/*vamos a dar las reglas de las clases*/

.label-container{
    width: 100%;
    padding: 1rem;
    /*border: 2px solid rgb(55, 55, 55);*/
    box-sizing: border-box;
}

.animada{

    border: 4px solid rgb(61, 55, 92);
    border-radius: 10px;
    margin: 2rem;
    background-color: rgb(36, 36, 36);
    

    width: 95%;
    background-color: red;
    color: white;
    text-align: center;
    height: 125px;
    justify-content: center;
    align-items: center;

    animation-name: animacion_test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

ul{
    list-style-type: none;
}

a{
    color: var(--red);
    text-decoration: none;
}

html, body{
    background-image: url(./fondo.gif);
    background-size: 1980px ;
}

body{
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

section, footer, article, aside{
    border: 2px solid rgb(61, 55, 92);
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

div{
    height: 35px;
}

article, aside{
    width: 45%;
    display: inline-block;
    height: 190px;
    background-color: rgb(36, 36, 36);
}

section, footer{
    background-color: rgb(27, 27, 27);
}

.page-footer{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
}

.menu{
    display: flex;
    justify-content: center;
}

.menu li{
    margin-right: 40px;
}

.menu a{
    position: relative;
    display: block;
    overflow: hidden;
}

.menu a span{
    transition: transform 0.2s ease-out;
}

.menu a span:first-child{
    display: inline-block;
    padding: 10px;
}

.menu a span:last-child{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.menu i{
    font-size: 30px;
}

.menu a:hover span:first-child{
    transform: translateY(100%);
}

.menu a:hover span:last-child, 
.menu[data-animation] a:hover span:last-child{
    transform: none;
}

/*animaciones*/

.menu[data-animation="to-top"] a span:last-child{
    transform: translateY(100%);
}

.menu[data-animation="to-top"] a span:first-child{
    transform: translateY(-100%);
}

.menu[data-animation="to-right"] a span:last-child{
    transform: translateX(100%);
}

.menu[data-animation="to-right"] a span:first-child{
    transform: translateX(-100%);
}

.menu[data-animation="to-left"] a span:last-child{
    transform: translateX(100%);
}

.menu[data-animation="to-left"] a span:first-child{
    transform: translateX(-100%);
}

.arriba{
    font-size: 20px;
}